version: 2
jobs:
  update_lom_data:
    working_directory: ~/data
    docker:
      - image: cimg/base:2021.11
    environment:
      TZ: "Asia/Manila"
    steps:
      - checkout
      - run:
          name: "get lom's inventory and staking weight"
          command: ./bin/lom inventory -i `pwd`/accounts -path `pwd`/data/inventory/`TZ="Asia/Manila" date +"%Y-%m-%dT%H%M.csv"`
      - run:
          name: "commit changes and push"
          command: | 
            git config user.email "bonillajeb@gmail.com"
            git config user.name "Joseph Edsel Bonilla"
            git add .
            git commit -m "[ci skip] `TZ='Asia/Manila' date +'%FT%R%z'` pull latest staking weight"
            git push -u origin main

  fetch_bank_mars_token_release:
    working_directory: ~/data
    docker:
      - image: cimg/base:2021.11
    environment:
      TZ: "Asia/Manila"
    steps:
      - checkout
      - run:
          name: "get lom's inventory and staking weight"
          command: ./bin/lom transactions -daily -output `pwd`/data/transactions/`TZ="UTC" date --date="yesterday" +"%Y-%m-%d.csv"`
      - run:
          name: "commit changes and push"
          command: | 
            git config user.email "bonillajeb@gmail.com"
            git config user.name "Joseph Edsel Bonilla"
            git add .
            git commit -m "[ci skip] `TZ='Asia/Manila' date +'%FT%R%z'` pull today's martia payout"
            git push -u origin main

  test:
    working_directory: ~/data
    docker:
      - image: cimg/base:2021.11
    environment:
      TZ: "Asia/Manila"
    steps:
      - checkout
      - run:
          name: "get lom's inventory and staking weight"
          command: |
            export path=`pwd`/data/`TZ="Asia/Manila" date +"%Y-%m-%dT%H%M%Z.csv"`
            echo $path
            ./bin/lom -i `pwd`/accounts-test -path $path
            cat $path

workflows:
  version: 2
  update-on-push:
    jobs:
      - fetch_bank_mars_token_release
      - update_lom_data

  nightly:
    triggers:
      - schedule:
          cron: "0 0,4,8,12,16,20 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - update_lom_data

  daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - fetch_bank_mars_token_release
